* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: "Noto Sans KR",sans-serif;
  }
  
  .Header-tap {
    text-align: center;
  }

  .App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  .tap {
    list-style-type: none;
    padding: 14px 16px;
  }
  .tap a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .tap a:hover:not(.active) {
    background-color: #b22;
  }



  .search-bar-wrapper {
      background-color: transparent;
      display: flex;
      height: 61px;
      width: 100%;
      border-radius: 11px;
      padding-left: 10px;}
      
      form {
        display: flex;
        flex: 1;
      }
      
      form > input {
        background-color: #a4aab8;
        border: none;
        width: 100%;
        border-radius: 10px;
        margin-left: 5px;
        font-size: 16px;
      }
      
      form > button {
        display: none;
      }

      input:focus {
        outline: none;
      }

      .visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }