* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.green{
  color: #b22;
}

.box{
  position: absolute;
  top: 15%;
  margin-bottom: 100px;
}

.wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
}

.Container{  
  height: 100px;
  width: 600px;
  background-color: #b22;    
  border-radius: 15px;
  display: flex;
  align-items: flex-end;
  padding: 16px;
}

.Container .name{
  font-size: 20px;
  font-weight: bold;
} 
.Container .modify{
  margin-left: auto;
}

.item{ 
  display: flex;  
  padding: 21px 16px;  
  height: 100px;
  width: 200px;
}

.number{
  font-size: 19px;
  font-weight: bold;
}

.margin_box{
  background-color: transparent;  
  width: 100px;  
}

.contents_box{
  background-color: transparent;  
  width: 1200px;
  margin-top: 100px;
  margin-bottom: 100px  
}